body {
  padding: 0;
  margin-left: 100px;
  margin-right: 100px;
}

.content img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
  margin-right: 500px;
}

.container {
  margin: 0 auto;
  width: 750px;
}

.container nav a {
  margin: 40px;
  padding: 30px;
  display: inline-block;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  margin-bottom: 20px;
}

.content {
  display: flex;
  padding: 30px;
}

.content div {
  margin: 20px;
}
.content h1 {
  margin-bottom: 0;
  padding: 0 10px;
  text-align: center;
}

.hakkında {
  background-color: rgb(247, 199, 185);
  text-align: center;
  color: white;
}

p {
  font-size: 20px;
  margin: 10px;
}
.baloon img {
  text-align: center;
  height: 90px;
  width: 90px;
  margin: 0 auto;
  display: block;
}

.acıklama {
  text-align: center;
  height: 30%;
  width: 20%;
  margin: 0 auto;
  display: block;
}
